<% layout("layouts/boilerplate")%>

<link rel="stylesheet" href="/leaflet/leaflet.css" />

<script src="/leaflet/leaflet.js"></script>

<style>
  #map {
    height: 600px;
    width: 100%;
  }
</style>

<!-- <div><p>Coordinates: <%= survey.geometry.coordinates[0][0][1] %></p></div> -->
<div>
  <p><a href="/surveys/<%= survey._id %>">Back to Survey Details</a></p>
  <p>Coordinates: <%= survey.geometry.coordinates %></p>
</div>
<div id="map"></div>
<!-- <div id="myDiv" data-survey="<%= survey %>"></div> -->

<div id="myDiv" data-survey="<%= JSON.stringify(survey) %>"></div>

<script>
  let geojsonVar = document.getElementById("myDiv").getAttribute("data-survey");
  geojsonVar = JSON.parse(geojsonVar);
  console.log(geojsonVar);

  //use the first cordinate in the geojson to set the default cetre view of the map

  const firstCoordinate = geojsonVar.geometry.coordinates[0][0]; //.reverse();
  console.log(
    "first coordinate - ",
    firstCoordinate
    //geojsonVar.geometry.coordinates[0][0].reverse()
  );

  // console.log(geojsonVar);

  //   const map = L.map("map").setView([37.7749, -122.4194], 13);
  //   var map = L.map("map").setView([6.5244, 3.3792], 13);
  // var map = L.map("map").setView([6.435556, 3.396111], 50);
  //

  //use the firstCoodinate to set the map view
  // reverse the longitude and lattitude from the geojson format to the latitude first format of leaflet.js

  var map = L.map("map").setView([firstCoordinate[1], firstCoordinate[0]], 18);
  //      var map = L.map("map").setView([7.5372, 9.0543], 13);

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    //attribution: '&copy; <a href="(link unavailable)">OpenStreetMap</a>',
    ///subdomains: ["a", "b", "c"],
  }).addTo(map);
  fetch("/boundaries")
    .then((response) => response.json())
    .then((data) => {
      L.geoJSON(data, {
        onEachFeature: (feature, layer) => {
          layer.bindPopup(feature.properties.boundary_id);
        },
      }).addTo(map);
    })
    .catch((error) => console.error(error));

  ///GEOJSON SECTION

  // L.geoJSON(geojsonVar).addTo(map);

  //declare a dummy geojson field
  //used as a workaround since the object passed from express is misbehaving
  //well overrite the coordinate to the passed in map coordinate
  var geojsonFeature = {
    type: "Feature",
    properties: {
      name: "Coors Field",
      amenity: "Baseball Stadium",
      popupContent: "This is where the Rockies play!",
    },
    geometry: {
      type: "Polygon",
      coordinates: [
        [
          [3.618863, 6.468357],
          [3.619014, 6.468562],
          [3.618727, 6.468523],
          [3.61867, 6.468428],
        ],
      ],
    },
  };
  geojsonFeature.geometry.coordinates = geojsonVar.geometry.coordinates;
  L.geoJSON(geojsonFeature).addTo(map);

  console.log("geojsonFeature", geojsonFeature);

  // var geojsonFeature2 = {
  //   type: "Feature",
  //   properties: {
  //     name: "Coors Field",
  //     amenity: "Baseball Stadium",
  //     popupContent: "This is where the Rockies play!",
  //   },
  //   geometry: {
  //     type: "Polygon",
  //     coordinates: [
  //       [
  //         [3.618618, 6.468307],
  //         [3.618415, 6.468357],
  //         [3.618318, 6.468225],
  //         [3.618492, 6.468261],

  //       ],
  //     ],
  //   },
  // };

  // L.geoJSON(geojsonFeature2).addTo(map);

  // var geojsonFeature3 = {
  //   type: "Feature",
  //   properties: {
  //     name: "Coors Field",
  //     amenity: "Baseball Stadium",
  //     popupContent: "This is where the Rockies play!",
  //   },
  //   geometry: {
  //     type: "Polygon",
  //     coordinates: [
  //       [
  //         [3.61848, 6.468537],
  //         [3.618622, 6.468447],
  //         [3.618528, 6.468844],
  //         [3.618558, 6.468746],

  //       ],
  //     ],
  //   },
  // };

  // L.geoJSON(geojsonFeature3).addTo(map);

  // //   3.618863, 6.468357
  // //   3.619014, 6.468562
  // //   3.618727, 6.468523
  // //   3.61867, 6.468428
</script>

<div>
  <p><a href="/surveys/<%= survey._id %>">Back to Survey Details</a></p>
</div>
